body {
  box-sizing: border-box;
  background-color: #22333b;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bebasneue/v9/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.game-title {
  color: white;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}

.winner-announcement {
  color: white;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin: 0px;
  margin-top: -20px;
}

.game-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.player-container {
  width: 30%;
}

.player-heading {
  color: white;
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.grid-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  height: 495px;
  width: 495px;
}

.grid-item {
  align-items: center;
  background-color: #22333b;
  display: flex;
  justify-content: center;
  height: 155px;
  margin: 0px;
  width: 155px;
}

.top-left {
  border-left: solid 5px transparent;
  border-top: solid 5px transparent;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
}

.top-middle {
  border-left: solid 5px white;
  border-top: solid 5px transparent;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
}

.top-right {
  border-left: solid 5px white;
  border-top: solid 5px transparent;
  border-right: solid 5px transparent;
  border-bottom: solid 5px white;
}

.middle-left {
  border-left: solid 5px transparent;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
}

.centre {
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px white;
}

.middle-right {
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-right: solid 5px transparent;
  border-bottom: solid 5px white;
}

.bottom-left {
  border-left: solid 5px transparent;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px transparent;
}

.bottom-middle {
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-bottom: solid 5px transparent;
}

.bottom-right {
  border-left: solid 5px white;
  border-top: solid 5px white;
  border-right: solid 5px transparent;
  border-bottom: solid 5px transparent;
}

.active {
  transform: scale(1.3);
}